/*
Partie Commun
*/

body {
    font-family: 'Montserrat', sans-serif;
    transition: all .6s ease-in;
    background-color: #FFD400;
}
.container {
    background-color : #f8f9fa;
    padding: 2rem;
}
.tab {
    margin: 2%; 
}


.row {
    margin-top: 4rem;
}

.titre1{
    width: 50%;
    margin-top: 1rem;
}
p{
    font-size : 0.75rem;
}
.titrepage {  
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    font-size : 1.5rem;
    background-color: #FFD400;
}
.header {
    margin-top: 2rem;
    margin-left: 10%;
}

.header p{
    font-size: 0.75rem;
}


.navbar {
    background-color: white;

}

#ecosystem {
    padding : 1rem;
    margin :3rem,0;
    text-align: center;
}

#ecosystem h4{
    text-align : left;
    text-decoration: none;
    font-size : 0.75rem;
    margin-top: 3rem;
}

.euratech_img img {
    background-size: cover;
    width: 125%;
    height: 200%;
    margin-top: -3rem;
}

.ecosystem img {
    width: 55%;
}

.article h2 {
    text-transform: uppercase;
	font-size: 2rem;
    border-bottom: 0.2rem solid black;
    text-align: center ;
    width: 100%;
}
h2 {
    text-transform: uppercase;
	font-size: 1rem;
    line-height: 3rem;
    padding-bottom: 1rem;
}
.subtitle {
    border-bottom: 0.15rem solid black;
    
}
.history {
    margin-top: -3rem;
    height: 34rem;
    overflow-y: scroll;
}

a img:hover {
    opacity : 0.3;
}
.our_select{
    margin-top: 1rem;
    margin-right: 10rem; /*LA*/
}
.our_select img {
    width: 100%;
}
.environment img {
    width: 90%;
}

.facilities {
    height: 31rem;
    width: 80%;
    overflow-y: scroll;
}

.map_faci{
    margin : 2rem,0;
}

.our_select h3 {
    font-weight: bold;
    font-size : 1.2rem;
}
.htju {
    font-weight: bold;
    font-size : 1.2rem; 
    margin-bottom: 1rem;
}

li {
    line-height : 2rem;
}
/*
Partie home
*/


h5 {
	font-size: 2em;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color:#FFD400;

}

.roundedImage {
    
    -webkit-border-radius:90px;
    -moz-border-radius:90px;
    border-radius:90px;
    width:180px;
}

.containerphoto {
	text-align: center;
}

.photo {
	display: inline-block;
	padding-left: 8%;
    text-decoration: none;
    color: black;
}

.photo:hover {
    text-decoration: none;
    color: black;
}

.text {
  position: center;
  text-align: center;
  margin: auto, 5em;
  color:white;
  font-size:1em;
  width:692px;      /* même largeur que l’image */
}

.Positiontext {
    margin-bottom: 6em;
    background-color: rgba(0, 0, 0, 0.45);
}

/*
Partie map
*/

.facilities h3 {
	font-size: 14px;
}


.map {
	order: 0;
	margin-left: 30px;
	float: left;
}

.evironnement {
	border-bottom: 2px solid grey;
	width: 29%;
	height: 500px;;
	overflow: auto;
	float: right;
}	

.transports {
	float: left;
}

.footer a {
   text-decoration: none;
   color: grey;
}

.footer a:hover{
    color : black;
    font-weight: blod;
}

.changeIMG {
    background: url("picture/john-schnobrich.jpg") no-repeat center ;
    background-size: cover;
    padding: 2rem;
}

.titrenews {
    padding-bottom: 2rem;
}

.newletter_title {
    background-color: rgb(231, 228, 228);
    opacity: 0.7;
    padding: 8px;
}

.newletter {
    opacity: 0.8;
}

.paragraph {
    margin-left: 20%;
}
.bold {
    font-weight: bold;
}

.error {
    color: red;
    background-image: white;

}

/* Css theme sombre */

.dark {
    background-color: #0A0A0A;
    color: #ffffff;
    transition: all .6s ease-in;
}
  
.dark button {
    height : 3rem;
    width : 3rem ;
    background-image : url("picture/sun.png");
    background-size: contain;
    background-repeat : no-repeat;
    background-color : #1E1B1B;
}

.btn  {
    height : 3rem;
    width : 3rem ;
    background-image : url("picture/moon.png");
    background-size: contain;
    background-repeat : no-repeat;
}

.dark button:hover {
    font-weight: bold;
    color : white ;
}

.btn:hover {
    font-weight: bold;
}

.container.dark{
    background : #1E1B1B;
}

.dark h2 .subtitle{
    border-bottom: 0.15rem solid white;
}

.dark h6 a {
    color : lightgrey;
}

.dark h6 a:hover {
    color : white;
    font-weight: bold ;
}

.dark .bg-light {
    background-color : #1E1B1B !important;
}

#darkTrigger {
    margin-bottom : 0.3rem ; 
}

.dark .navbar-light .navbar-nav .nav-link {
    color : lightgrey ;
}

.dark .navbar-light .navbar-nav .nav-link:hover {
    color : white ;
}

.dark .navbar-light .navbar-nav .nav-link.active {
    font-weight : bold ;
    color : white ;
}

.dark .titrepage {
    background-color : #0A0A0A ;
}

.dark a {
    color : yellow ;
}
.arrowup {
    height: 4rem;
    width: 4rem;
    position: fixed;
    bottom: 10px;
    right: 60px;
}

img #haut {
    background-image: url ('picture/logowildJ.png');
    width : 100%;
    height : 100%;
}

.dark img #haut {
    background-image: url('picture/logowildN.png')
}

.photo a {
    color : black ;
}

.dark .photo a {
    color : yellow;
}